<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>#books</string>
    <string>#contacts</string>
    <string>#favorites</string>
    <string>#ideas</string>
    <string>#important</string>
    <string>#inspiration</string>
    <string>#later</string>
    <string>#movies</string>
    <string>#music</string>
    <string>#people</string>
    <string>#places</string>
    <string>#reading</string>
    <string>#recipes</string>
    <string>#reminders</string>
    <string>#shopping</string>
    <string>#things</string>
    <string>#todo</string>
	<string>#urgent</string>
    <string>#wishlist</string>
</array>
</plist>
